
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to FileProcessor!</h1>

<p>Use input field to upload your file or just drop the file to the window.</p>


<input id="FileInput" type="file" name="File" />
<br />
<input id="SumbitButton" type="button" value="Submit" />

<br />
<span id="ErrorMessage" class="message error-message"></span>
<span id="SuccessMessage" class="message success-message"></span>

